@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cutive+Mono&family=Fira+Code:wght@300&family=Noto+Naskh+Arabic:wght@400;700&family=Poppins:wght@100;200;900&family=Roboto:ital,wght@1,900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #D2E3C8;
  color: black;
}
.Navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  justify-items: center; /* Mengganti justify-items menjadi justify-content */
  align-content: center; /* Mengganti align-content menjadi align-items */
  z-index: 99999999;
  top: 0;
  left: 0;
  bottom: 0;
  position: fixed;
}
.btns {
  margin: auto 5%;
}
.logo {
  margin: auto 1%;
}
.logo h1{
  font-weight: bold;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
.logo span{
  color: deepskyblue;
  font-size: 15px;
}
.content {
  padding: 2% 2%;
  font-family: 'Poppins', sans-serif;
  margin-top: 5%;

}
.content p{
  font-size: 25px;
}

.content span{
  font-weight: bold;
}
.content-surah {
  width: 100%;
  height: auto;
  margin: 2% 0;
}
.content-surah h2{
  padding: 0 2%;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-top: 5%;
}
.content-box {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 45%;
  height: 150px;
  border: 1px solid #4F6F52;
  margin: 1%  2%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  text-align: center;
  

}

.hamdal {
  text-align: center;
  font-family: 'Noto Naskh Arabic', serif;
  margin-top: 5%;
}
.audio {
  display: flex;
  justify-content: center;
  
}

.card-nama {
  padding: 2% 2%;
}
.card-nama h1{
font-size: 20px;
font-family: 'Poppins', sans-serif;
font-weight: bold;
}
.card-subtext {
  padding: 0 3%;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;

}
.btn {
  text-align: center;
}
.btn a{
  text-decoration: none;
  color: grey;
}
.card:hover {
  box-shadow: 9px 9px 0px rgba(115, 144, 114, 1);
  background: rgba(115, 144, 114, 0.8);
  backdrop-filter: blur(15px);
  color: white;
}
.surah {
  width: 95%;
  height: auto;
  padding: 5% 2%;
  margin: 3% auto;
  border: 3px solid grey;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  
}

.surah h2{
  font-weight: bold;
  text-align: right;
  font-size: 38px;
  font-family: 'Noto Naskh Arabic', serif;
  
}
.surah span{
  font-size: 22px;
  padding: 2% 0;

}
.surah strong {
}
.surah p{
 font-size: 25px;
 padding: 2% 0;
 font-family: 'Poppins', sans-serif;

}

.btn-card {
  padding: 1px 0;
  width: 10%;
  color: black;
  text-align: center;
  margin: auto;
}
 .card:hover a {
   color: white;
 }
.btn-card:hover {
  color: white;
}
.menu {
  width: 75%;
  height: 700px;
  display: none; /* Mengatur menu awalnya menjadi tersembunyi */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  color: #fff;
  padding: 20px;
  z-index: 1000; /* Jangan lupa menambahkan z-index agar menu tetap di atas konten lain */
  overflow: scroll;
  opacity: 0.8;
  border-radius: 8px;
}

.menu a{
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 5px 0;
  font-weight: bold;
  margin: auto;
  font-size: 20px;
}

.menu.toggle {
  display: flex;
  /* Menampilkan menu saat class 'toggle' aktif */
  flex-direction: column;
}
@media (max-width: 760px) {
.Navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  justify-items: center; /* Mengganti justify-items menjadi justify-content */
  align-content: center; /* Mengganti align-content menjadi align-items */
}
.btns {
  margin: auto 5%;
}
.logo {
  margin: auto 1%;
}
.logo h1{
  font-weight: bold;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
.logo span{
  color: deepskyblue;
  font-size: 15px;
}
.content {
  padding: 2% 2%;
  font-family: 'Poppins', sans-serif;
  margin-top: 15%;

}
.content p{
  font-size: 15px;
}
.content span{
  font-weight: bold;
}
.content-surah {
  width: 100%;
  height: auto;
  margin: 2% 0;
}
.content-surah h2{
  padding: 0 2%;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-top: 15%;
}
.content-box {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: scroll;
}

.card {
  width: 45%;
  height: 100px;
  border: 1px solid #4F6F52;
  margin: 1%  1%;
  border-radius: 8px;
  text-align: center;
  

}
.hamdal {
  text-align: center;
  font-family: 'Noto Naskh Arabic', serif;
  margin-top: 15%;
}
.audio {
  display: flex;
  justify-content: center;
  
}

.card-nama {
  padding: 2% 2%;
}
.card-nama h1{
font-size: 15px;
font-family: 'Poppins', sans-serif;

font-weight: bold;
}
.card-subtext {
  padding: 0 3%;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;

}
.btn {
  text-align: center;
}

.card:hover {
  box-shadow: 5px 5px 0px rgba(115, 144, 114, 1);
  background: rgba(115, 144, 114, 0.8);
  backdrop-filter: blur(15px);
  color: white;
  
}
.surah {
  width: 95%;
  height: auto;
  padding: 5% 2%;
  margin: 3% auto;
  border: 3px solid #4F6F52;
  border-radius: 8px;
  background: rgba(115, 144, 114, 0.);
  backdrop-filter: blur(20px);
  
}

.surah h2{
  font-weight: bold;
  text-align: right;
  font-size: 29px;
  font-family: 'Noto Naskh Arabic', serif;
  
}
.surah span{
  font-size: 12px;

}
.surah strong {
}
.surah p{
 font-size: 12px;
 padding: 2% 0;
 font-family: 'Poppins', sans-serif;

}
.btn-card {
  width: 100px;
  padding: 1px 0;
  color: black;
  
}
 .card:hover a{
  color: white;
}
.menu {
  height: 400px;
  display: none; /* Mengatur menu awalnya menjadi tersembunyi */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  color: #fff;
  padding: 20px;
  z-index: 1000; /* Jangan lupa menambahkan z-index agar menu tetap di atas konten lain */
  opacity: 0.7;
  padding: 8px;
  overflow: scroll;
}
.menu a{
  color: white;
  text-decoration: none;
  text-align: left;
  padding: 10px 0;
  font-weight: bold;
  margin: auto;
  font-size: 15px;
}

.menu.toggle {
  display: flex;
  /* Menampilkan menu saat class 'toggle' aktif */
  flex-direction: column;
}

}